@import "tachyons";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-size: 16px;
  min-height: 100%;
  padding-bottom: 100px;
  letter-spacing: .025em;
  color: #1b1b1c;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

h1 {
  line-height: 1.40625;
}

p {
  line-height: 1.875;
  letter-spacing: .04em;
}

.title {
  min-height: 50vh;
}
.title h1{
  font-size: 32px;
  line-height: 1.40625;
}

@media screen and (max-width: 479px) {
  .title h1{
    font-size: 24px;
    line-height: 1.40625;
  }
}

.hover-move {
  position: relative;
  top: 0px;
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hover-move:hover {
  top: -5px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/*overrides*/
.mw8 {
  max-width: 70rem;
}
.h5 {
  height: 24rem;
}
.f12 {
  font-size: 12px;
}

a {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

nav svg {
  fill: #1b1b1c;
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
}

nav.white svg{
  fill: white !important;
}

nav.white a {
  color: #fff !important;
}

/* Custom CSS */
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center; 
} 

.row {
  display: flex;
  flex-direction: row;
}

.dash {
  width: 50px;
  float: left;
  border: none;
  height: 3px;
}

/* Projects */
.project {
  overflow: hidden;
}

.project-image {
  pointer-events: none;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.project:hover .project-image{
  opacity: .4;
  transform: scale(1.1);
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (max-width: 479px) {
  .project:hover .project-image{
    opacity: 1;
    transform: scale(1);
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .project:hover .project-text {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.project-text {
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  left: 0;
  bottom: 0;
  margin: auto;
  font-size: 12px;
}

.project-text h3 {
  font-size: 24px;
}

.project:hover .project-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-header {
  position: relative;
  top: -110px;
}

.project-cover {
  margin-top: -300px;
}

.blue-1 {
  color: #0095FB;
}
.bg-blue-1 {
  background-color: #0095FB;
}
.hover-bg-blue-1:hover {
  background-color: #0077C9;
}
.pink-1 {
  color: #FF807E;
}
.bg-pink-1 {
  background-color: #FF807E;
}
.hover-bg-pink-1:hover {
  background-color: #CC6665;
}
.red-1 {
  color: #F00086;
}
.bg-red-1 {
  background-color: #F00086;
}
.hover-bg-red-1:hover {
  background-color: #C0006B;
}
.green-1 {
  color: #009EC2;
}
.bg-green-1 {
  background-color: #009EC2;
}
.hover-bg-green-1:hover {
  background-color: #017E9B;
}
.fill-white {
  fill: white;
}
.bg-action {
  background-color: #408BC9;
}
.action {
  color: #408BC9;
}
.button {
  transition: background-color .15s ease-in-out;
}

.logo {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.mozilla {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Loading Gif */
#loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
  opacity: 1;
  z-index: 10;
  transition: opacity 0s cubic-bezier(0.23, 1, 0.32, 1);
}

#loading.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .8s cubic-bezier(0.23, 1, 0.32, 1);
}

.hidediv {
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  position: relative;
  backface-visibility: hidden;
  perspective: 1000px;
}

.hideme {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) scale(0.975);
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

@media screen and (max-width: 959px) {
  .hideme {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px) scale(1);
  }
}

::selection {
  background: #00feff; /* WebKit/Blink Browsers */
  color: #000;
}
::-moz-selection {
  background: #00feff; /* Gecko Browsers */
  color: #000;
}

img {
  vertical-align: top;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.home .logo-footer {
  opacity: 0;
  pointer-events: none;
}