@import "tachyons";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-size: 16px;
  min-height: 100%;
  padding-bottom: 100px;
  letter-spacing: .025em;
  color: #1b1b1c;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body.ds {
  overflow: hidden;
}

h1 {
  line-height: 1.40625;
}

p {
  line-height: 1.875;
  letter-spacing: .04em;
}

.z1 {
  z-index: 1;
}

.title {
  min-height: 50vh;
}
.title h1{
  font-size: 30px;
  line-height: 1.40625;
}

@media screen and (max-width: 479px) {
  .title h1{
    font-size: 24px;
    line-height: 1.40625;
  }
}

.hover-move {
  position: relative;
  top: 0px;
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hover-move:hover {
  top: -5px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/*overrides*/
.mw8 {
  max-width: 70rem;
}
.mw360 {
  max-width: 360px;
}
.h5 {
  height: 24rem;
}
.f12 {
  font-size: 12px;
}
.lh-large {
  line-height: 2;
}
.pointer {
  cursor: pointer;
}
.mobile {
  max-width: 270px;
  max-height: 480px;
}
@media screen and (max-width: 1120px) {
  .full-width {
    width: 100vw;
    left: -40px;
    position: relative;
  }  
}

.full-width {
  width: 100vw;
  left: calc(-1*(100vw - 1040px)/2);
  position: relative;
}


a:not(#firefox) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

nav {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

nav svg {
  fill: #1b1b1c;
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
}

nav.white svg{
  fill: white !important;
}

nav.white a {
  color: #fff !important;
}

/* Custom CSS */
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}


.align-center {
  display: flex;
  align-items: center; 
} 

.row {
  display: flex;
  flex-direction: row;
}

.dash {
  width: 50px;
  float: left;
  border: none;
  height: 3px;
}

/* Projects */
.project {
  overflow: hidden;
}

.project-image {
  pointer-events: none;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.project:hover .project-image{
  opacity: .4;
  transform: scale(1.1);
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (max-width: 479px) {
  .project:hover .project-image{
    opacity: 1;
    transform: scale(1);
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .project:hover .project-text {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.project-text {
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  left: 0;
  bottom: 0;
  margin: auto;
  font-size: 12px;
}

.project-text h3 {
  font-size: 24px;
}

.project:hover .project-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-header {
  position: relative;
  top: -110px;
}

.project-cover {
  margin-top: -300px;
}

@media screen and (max-width: 479px) {
  .project-header {
    height: 16rem !important;
  }
  .project-cover {
    margin-top: -240px !important;
  }
}

#firefox:hover {
  animation: rainbow 6s infinite ease;
}

@keyframes rainbow {
  0%   { color: #CB136F; }
  25% { color: #FE7E2D; }
  50% { color: #FFD83A; }
  75% { color: #FE7E2D; }
  100% { color: #CB136F; }
}

.top-center {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.cp {
  cursor: pointer;
}

.underlink:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #000000;
  position: absolute;
  bottom: -4px;
  left: 0px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.underlink:hover:after{
  bottom: 0px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.blue-1 {
  color: #0095FB;
}
.bg-blue-1 {
  background-color: #0095FB;
}
.hover-bg-blue-1:hover {
  background-color: #0077C9;
}
.pink-1 {
  color: #FF807E;
}
.bg-pink-1 {
  background-color: #FF807E;
}
.hover-bg-pink-1:hover {
  background-color: #CC6665;
}
.red-1 {
  color: #F00086;
}
.bg-red-1 {
  background-color: #F00086;
}
.hover-bg-red-1:hover {
  background-color: #C0006B;
}
.green-1 {
  color: #009EC2;
}
.bg-green-1 {
  background-color: #009EC2;
}
.hover-bg-green-1:hover {
  background-color: #017E9B;
}
.dark-green-1 {
  color: #00BE9C;
}
.bg-dark-green-1 {
  background-color: #00BE9C;
}
.hover-bg-dark-green-1:hover {
  background-color: #00987D;
}
.yellow-1 {
  color: #AB81BC;
}
.bg-yellow-1 {
  background-color: #AB81BC;
}
.hover-bg-yellow-1:hover {
  background-color: #896897;
}


.fill-white {
  fill: white;
}
.bg-action {
  background-color: #408BC9;
}
.action {
  color: #408BC9;
}
.button {
  transition: background-color .15s ease-in-out;
}

.logo {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.mozilla {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Loading Gif */
#loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  background-size: 128px;
  background-position: center center;
  opacity: 1;
  z-index: 10;
  transition: opacity 0s cubic-bezier(0.23, 1, 0.32, 1);
}

#loading.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .8s cubic-bezier(0.23, 1, 0.32, 1);
}

#about.fade {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1), opacity .4s cubic-bezier(0.23, 1, 0.32, 1);
}


.hidediv {
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  position: relative;
  backface-visibility: hidden;
  perspective: 1000px;
}

.hideme {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) scale(0.975);
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

@media screen and (max-width: 959px) {
  .hideme {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px) scale(1);
  }
}

.wh48 {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  background: #00feff; /* WebKit/Blink Browsers */
  color: #000;
}
::-moz-selection {
  background: #00feff; /* Gecko Browsers */
  color: #000;
}

img {
  vertical-align: top;
}

#about,
#about > div {
  overflow: hidden;
  transition: transform .6s cubic-bezier(0.23, 1, 0.32, 1), opacity .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.about-content {
  overflow-y: scroll;
  height: calc(100vh - 8rem);
  padding-bottom: 50px;
}

.overflow-scroll {
  overflow-y: scroll;
}

.shadow {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0,0,0,.2) 0 5px 10px;
  margin: 11px;
  max-width: calc(100% - 22px) !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.home .logo-footer {
  opacity: 0;
  pointer-events: none;
}

#resume, #github, #codepen, #dribbble {
  transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}

#resume:hover {
  color: #777 !important;
  transform: translateX(20px);
}

#github:hover {
  color: #3F4347 !important;
  transform: translateX(20px);
}

#codepen:hover {
  color: #0EBEFF !important;
  transform: translateX(20px);
}

#dribbble:hover {
  color: #EA4C89 !important;
  transform: translateX(20px);
}

